* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: "dragonBallTitle";
  src: url(../assets/fonts/Saiyan-Sans.ttf);
}
@font-face {
  font-family: "dragonBallH";
  src: url(../assets/fonts/Saiyan-Sans\ Left\ Oblique.ttf);
}
@font-face {
  font-family: "dragonBallText";
  src: url(../assets/fonts/Saiyan-Sans\ Right\ Oblique.ttf);
}
header h1 {
  font-family: "DragonBalltitle";
  font-size: 8rem;
  background: #ccc;
  background: linear-gradient(to right, #ff0800, #ff0800, #ff7b00, #ff7b00, #ff0800);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 2%;
}

h3, .articulo-dos-index section h2, .articulo-uno-index section h2 {
  font-family: "DragonBalltitle";
  font-size: 8rem;
  color: #ff7b00;
}

h3, .articulo-dos-index section h2, .articulo-uno-index section h2 {
  font-family: "DragonBallH";
  font-size: 7rem;
  color: #ff0800;
}

footer section div a, .articulo-uno-index section p {
  font-family: "DragonBallText";
  font-size: 2.5rem;
  color: #008cd0;
}

.conteiner-musica section div p {
  font-family: "DragonBallText";
  font-size: 2.5rem;
  color: #008cd0;
}

header nav div ul li a {
  font-family: "DragonBallH";
  font-size: 3.7rem;
  color: #008cd0 !important;
}

header nav div ul li .dropdown-menu .dropdown-item {
  font-family: "DragonBallH";
  font-size: 3rem;
  color: #008cd0 !important;
}

body {
  background-color: #000000;
}

header {
  background-image: url(../assets/img/banner.jpg);
  background-size: cover;
  height: 520px;
}
iframe {
  margin-top: 2%;
}

.articulo-uno-index {
  background-image: url(../assets/img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}
.articulo-uno-index section {
  display: flex;
}
.articulo-uno-index section h2 {
  text-align: center;
}
.articulo-uno-index section p {
  margin-left: 1%;
}

.articulo-dos-index section h2 {
  text-align: center;
}
.articulo-dos-index section .card {
  margin: 10% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 660px;
}
.articulo-dos-index section .card .card-img-1 {
  width: 55%;
}
.articulo-dos-index section .card .card-img-2 {
  width: 100%;
}
.articulo-dos-index section .card .card-img-3 {
  width: 74%;
}
.articulo-dos-index section .card .card-img-4 {
  width: 100%;
}

footer {
  background-color: #000000 !important;
}
footer section {
  display: flex;
  justify-content: space-between;
}
footer section div a .i-footer {
  margin-left: 17%;
}
footer section div a img {
  width: 100%;
}

/* MediasQuery Movile */
@media only screen and (max-width: 576px) {
  header {
    background-image: url(../assets/img/banner2.jpg);
    height: 1005px;
    background-position-x: center;
  }
}
header h1 {
  font-size: 6rem;
  margin-top: 600px;
}

@media only screen and (max-width: 576px) {
  .articulo-uno-index {
    background-position-x: right;
  }
  .articulo-uno-index section h2 {
    font-size: 4rem;
  }
  .articulo-uno-index section p {
    font-size: 2rem;
    color: #18ccd7;
  }
}

@media only screen and (max-width: 576px) {
  .articulo-dos-index section h2 {
    font-size: 4rem;
  }
  .articulo-dos-index section .card {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  footer section div a {
    font-size: 2rem;
  }
  footer section div a .i-footer {
    margin: 0%;
  }
  footer section div a img {
    width: 15%;
  }
}

header .bg-primary {
  background-color: #007bff00 !important;
}
header nav a .img-logo {
  width: 230px;
}
header nav div ul li {
  margin: 0% 7%;
}
header nav div ul li a:hover {
  color: #ff0800 !important;
}
header nav div ul li .dropdown-menu {
  background-color: #0000ff00 !important;
}
header nav div ul li .dropdown-menu:hover {
  background-color: #0000ff00 !important;
}
header nav div ul li .dropdown-menu .dropdown-item:hover {
  background-color: #0000ff00 !important;
  color: #ff0800 !important;
}

/* MediasQuery Movile */
@media only screen and (max-width: 576px) {
  header nav a .img-logo {
    width: 147px;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-dark .navbar-toggler {
    border-color: #008dd1;
  }
}

@media only screen and (max-width: 576px) {
  .bg-dark {
    background-color: #343a4073 !important;
  }
}

footer {
  background-color: #fff;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1%;
}
footer a img {
  width: 50%;
}

/* MediasQuery Movile */
@media only screen and (max-width: 576px) {
  footer a img {
    width: 50%;
  }
}

/*Background de main*/
main {
  overflow: hidden;
}

.container-sagas {
  background-image: url(../assets/img/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

/*Fin Background de main*/
h3 {
  color: #ff0800;
  text-decoration: underline;
  margin-top: 5%;
  text-align: center;
}

/*Redirecion a subpaginas*/
.article-redireccion section {
  align-items: center;
  margin-top: 5%;
}
.article-redireccion section div a img {
  width: 50%;
  margin-left: 20%;
}

/*Fin Redirecion a subpaginas */
/*Arrow*/
.arrow-up section div {
  display: flex;
  justify-content: flex-end;
}
.arrow-up section div a {
  position: fixed;
  top: 85%;
}
.arrow-up section div a img {
  width: 100px;
  margin-right: 10px;
  background-color: #a23a1b8f;
  border-radius: 30%;
}

/*Fin Arrow*/
/*carrucel*/
.div-contenedor-carrucel {
  display: flex;
  justify-content: center;
}
.div-contenedor-carrucel .carousel {
  width: 70%;
}
.div-contenedor-carrucel .carousel .carousel-inner {
  display: flex;
  justify-content: space-around;
}
.div-contenedor-carrucel .carousel .carousel-inner .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-contenedor-carrucel .carousel .carousel-inner .card .img-card-vertical {
  width: 60%;
}
.div-contenedor-carrucel .carousel .carousel-inner .card img {
  width: 100%;
}

.carousel-control-prev-icon {
  background-color: #000000;
}

.carousel-control-next-icon {
  background-color: #000000;
}

.carousel-indicators li {
  background-color: #000000;
}

/*Fin Carrucel*/
/*Imagenes Principales de Sagas*/
.saga-img-sagas {
  display: flex;
  justify-content: center;
}

/* Fin de Imagenes Principales de Sagas*/
/*Tablas*/
table {
  border: solid 3px #008cd0;
  width: 98%;
  border-collapse: collapse;
  margin: 3% 1% 0% 1%;
  background-color: #ffffffa8;
}

tr {
  border: solid 3px #008cd0;
}

th {
  border: solid 3px #008cd0;
  text-align: center;
  font-family: "DragonBallText";
  color: #008cd0;
  font-size: 2.7rem;
  letter-spacing: 7px;
  height: 125px;
}

td {
  border: solid 3px #008cd0;
  text-align: center;
  font-family: "DragonBallText";
  color: #008cd0;
  font-size: 2.7rem;
  letter-spacing: 7px;
  height: 125px;
}

/*Fin de Tablas*/
/*Todos los logos Dragon ball*/
.sagas-db section div {
  display: flex;
  justify-content: center;
}
.sagas-db section div .img-logo-db {
  width: 35%;
  margin: 10% 1%;
}

/*Fin de Todos los logos Dragon ball*/
/*Background de main*/
.container-musica {
  background-image: url(../assets/img/chino4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Fin Background de main*/
/*redireccion a sub paginas*/
.img-musica-direccion {
  width: 50%;
  margin: 5% 0% 10% 20%;
}

/*fin de redireccion a sub paginas*/
/*Img Opening y Ending*/
#opening {
  display: flex;
  justify-content: center;
}
#opening img {
  margin: 15% 0%;
}

#ending {
  display: flex;
  justify-content: center;
}
#ending img {
  margin: 15% 0%;
}

/*Fin Img Opening y Ending*/
/*P y Videos*/
.conteiner-musica section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner-musica section div p {
  text-align: center;
  margin-top: 15%;
}
.conteiner-musica section div iframe {
  margin-bottom: 5%;
}

/*Fin de P y Videos*/
.container-videojuegos {
  background-image: url(../assets/img/fondo4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}
.container-videojuegos article section .div-top-videojuegos {
  margin: 5% 2% 0% 2%;
}
.container-videojuegos article section .div-top-videojuegos a {
  border-radius: 100%;
  color: #ff0800;
  background-color: #008cd061;
  font-size: 3rem;
  text-decoration: none;
  padding: 10% 10%;
}
.container-videojuegos #collapseFour .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSix .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseTwentyNine .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSixtyThree .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSeventy .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSeventyFive .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos .Videojuegos-acordeon-img {
  width: 35%;
  height: 500px;
}
.container-videojuegos .card-body {
  display: flex;
  align-items: center;
}

.main-personajes {
  background-image: url(../assets/img/fondo5.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: 85%;
}
.main-personajes button {
  width: 125px;
  margin-top: 5%;
}
.main-personajes .modal-body img {
  width: 100%;
  height: 700px;
}

.container-lista {
  border: solid 1px grey;
  width: 80%;
  margin-top: 1%;
}
.container-lista section {
  display: flex;
  flex-direction: column;
}
.container-lista section div {
  display: flex;
  max-width: 100%;
}
.container-lista section div a {
  font-size: 1.5rem;
  color: #008cd0;
  text-decoration: underline;
}
.container-lista section div a:hover {
  color: #03405f;
}

/*# sourceMappingURL=style.css.map */
