* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: "dragonBallTitle";
  src: url(../assets/fonts/Saiyan-Sans.ttf);
}
@font-face {
  font-family: "dragonBallH";
  src: url(../assets/fonts/Saiyan-Sans\ Left\ Oblique.ttf);
}
@font-face {
  font-family: "dragonBallText";
  src: url(../assets/fonts/Saiyan-Sans\ Right\ Oblique.ttf);
}
h1 {
  font-family: "DragonBalltitle";
  font-size: 8rem;
  background: #ccc;
  background: linear-gradient(to right, #ff0800, #ff7b00, #ff7b00, #ff7b00, #ff0800);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.articulo-dos-index section h2, .articulo-uno-index section h2 {
  font-family: "DragonBallH";
  font-size: 7rem;
  color: #008cd0;
}

h3 {
  font-family: "DragonBallH";
  font-size: 6.7rem;
  color: #ff0800;
}

footer section div a, .articulo-uno-index section p {
  font-family: "DragonBallText";
  font-size: 3rem;
  color: #ff0800;
}

.conteiner-musica section div p {
  font-family: "DragonBallText";
  font-size: 2.5rem;
  color: #008cd0;
}

body {
  background-color: #000000;
}

header {
  background-image: url(../assets/img/fondo1.jpg);
  background-size: cover;
  background-position-x: center;
  height: 660px;
}

.articulo-uno-index {
  background-image: url(../assets/img/fondo6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 26%;
}
.articulo-uno-index section {
  display: flex;
}
.articulo-uno-index section h2 {
  text-align: center;
}
.articulo-uno-index section p {
  margin-left: 1%;
}

.articulo-dos-index section .div-card-flex {
  display: flex;
  justify-content: center;
}
.articulo-dos-index section h2 {
  text-align: center;
}
.articulo-dos-index section .card {
  margin: 10% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: auto;
}
.articulo-dos-index section .card .card-img-1 {
  width: 55%;
}
.articulo-dos-index section .card .card-img-2 {
  width: 100%;
}
.articulo-dos-index section .card .card-img-3 {
  width: 74%;
}
.articulo-dos-index section .card .card-img-4 {
  width: 100%;
}

/* MediasQuery Movile */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .articulo-uno-index {
    background-position-x: 43%;
  }
  .articulo-uno-index section {
    display: flex;
  }
  .articulo-uno-index section h2 {
    font-size: 3.5rem;
  }
  .articulo-uno-index section p {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .articulo-dos-index section .div-card-flex {
    display: flex;
    justify-content: center;
  }
  .articulo-dos-index section h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  .articulo-dos-index section .card {
    margin: 10% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .articulo-dos-index section .card .card-img-1 {
    width: 100%;
  }
  .articulo-dos-index section .card .card-img-2 {
    width: 100%;
  }
  .articulo-dos-index section .card .card-img-3 {
    width: 100%;
  }
  .articulo-dos-index section .card .card-img-4 {
    width: 100%;
  }
}

/* MediasQuery Tablet */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  h1 {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .articulo-uno-index {
    background-position-x: 43%;
  }
  .articulo-uno-index section {
    display: flex;
  }
  .articulo-uno-index section h2 {
    font-size: 7rem;
  }
  .articulo-uno-index section p {
    font-size: 2rem;
    text-align: center;
    margin: 0%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .articulo-dos-index section .div-card-flex {
    display: flex;
    justify-content: center;
    padding: 0% 10%;
  }
  .articulo-dos-index section h2 {
    font-size: 7rem;
    text-align: center;
  }
  .articulo-dos-index section .card {
    margin: 10% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .articulo-dos-index section .card .card-img-1 {
    width: 60%;
  }
  .articulo-dos-index section .card .card-img-2 {
    width: 100%;
  }
  .articulo-dos-index section .card .card-img-3 {
    width: 60%;
  }
  .articulo-dos-index section .card .card-img-4 {
    width: 100%;
  }
}

/* MediasQuery Desktop */
header {
  padding: 0% !important;
  margin: 0% !important;
}
header section {
  padding: 0% !important;
  margin: 0% !important;
}
header section div {
  padding: 0% !important;
  margin: 0% !important;
}
header section div .bg-dark {
  background-color: #80808000 !important;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
header section div nav {
  padding: 0% !important;
  margin: 0% !important;
  display: flex;
  justify-content: center;
  align-content: center;
}
header section div nav a {
  font-weight: 900;
  font-size: xxx-large;
}
header section div nav a .nav-img-logo {
  width: 300px;
  height: 150px;
}
header section div nav .dropdown-menu {
  background-color: #ffffff00;
  border: none;
}
header section div nav .dropdown-item {
  background-color: #ffffff00 !important;
  color: #008cd0;
  font-weight: 600;
}
header section div nav .dropdown-item:hover {
  color: #ff0800;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: #008cd0;
}
.navbar-dark .navbar-nav .active > .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.show:hover, .navbar-dark .navbar-nav .show > .nav-link:hover {
  color: #ff0800;
}

.navbar-dark .navbar-nav .nav-link {
  color: #008cd0;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0800;
}

/*Media Query de Boostrap*/
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: wrap;
  }
}

/* MediasQuery Movile */
@media only screen and (max-width: 768px) {
  header {
    background-position-x: center;
    height: auto;
  }
  header section div .bg-dark {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  header section div nav a {
    font-weight: 900;
    font-size: 30px;
    padding-left: 0% !important;
  }
  header section div nav a .nav-img-logo {
    width: 100%;
    height: 100%;
    padding-top: 25%;
  }
  header section div nav .dropdown-item {
    color: #ff0800;
    background-color: #ffff0300 !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-dark .navbar-toggler {
    border: solid 4px #01d9da;
    width: 80px;
    height: 80px;
    margin-right: 7%;
  }
}

/*MediasQuery Tablet*/
@media only screen and (min-width: 769px) and (max-width: 991px) {
  header {
    background-position-x: center;
    height: auto;
    background-position-y: 12%;
  }
  header section div .bg-dark {
    flex-direction: row;
  }
  header section div nav a {
    font-weight: 900;
    font-size: 40px;
    padding-left: 0% !important;
  }
  header section div nav .dropdown-item {
    color: #ff0800;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .navbar-dark .navbar-toggler {
    border: solid 4px #01d9da;
    width: 80px;
    height: 80px;
    margin-right: 7%;
  }
}

/* MediasQuery Mediano hasta Desktop*/
@media only screen and (min-width: 992px) and (max-width: 1185px) {
  header {
    background-position-x: center;
    height: 575px;
  }
  header section div .bg-dark {
    background-color: #80808000 !important;
  }
  header section div nav a {
    font-weight: 900;
    font-size: 40px;
    padding-left: 0% !important;
  }
  header section div nav .dropdown-item {
    color: #ff0800;
  }
}

footer {
  background-color: #000000 !important;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1%;
}
footer section {
  display: flex;
  justify-content: space-between;
}
footer section div a .i-footer {
  margin-left: 17%;
}
footer section div a img {
  width: 100%;
}

/* MediasQuery Movile */
@media only screen and (max-width: 768px) {
  footer {
    background-color: #000000 !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  footer section {
    display: flex;
    justify-content: space-between;
  }
  footer section div a {
    display: flex;
    align-items: center;
    font-size: 3rem;
  }
  footer section div a .i-footer {
    margin-left: 0%;
  }
  footer section div a img {
    width: 110px;
    margin-top: 2%;
  }
}

/* MediasQuery Tablet */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  footer {
    background-color: #000000 !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  footer section {
    display: flex;
    justify-content: space-between;
  }
  footer section div a {
    display: flex;
    align-items: center;
    font-size: 3rem;
  }
  footer section div a .i-footer {
    margin-left: 0%;
  }
  footer section div a img {
    width: auto;
  }
}

/* MediasQuery Desktop */
@media only screen and (min-width: 992px) and (max-width: 1874px) {
  footer {
    background-color: #000000 !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }
  footer section {
    display: flex;
    justify-content: space-between;
  }
  footer section div a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  footer section div a .i-footer {
    margin-left: 0%;
  }
  footer section div a img {
    width: 100px;
  }
}

/*Background de main*/
main {
  overflow: hidden;
}

.container-sagas {
  background-image: url(../assets/img/fondo7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

/*Fin Background de main*/
.container-h1-sagas {
  margin: 0%;
}

h3 {
  color: #ff0800;
  text-decoration: underline;
  margin-top: 5%;
  text-align: center;
}

/*Redirecion a subpaginas*/
.article-redireccion section {
  align-items: center;
  margin-top: 5%;
}
.article-redireccion section div a img {
  width: 200px;
  margin-left: 20%;
}

/*Fin Redirecion a subpaginas */
/*Arrow*/
.arrow-up section div {
  display: flex;
  justify-content: flex-end;
}
.arrow-up section div a {
  position: fixed;
  top: 85%;
  right: 1%;
}
.arrow-up section div a img {
  width: 100px;
  background-color: #a23a1b8f;
  border-radius: 30%;
}

/*Fin Arrow*/
/*carrucel*/
.div-contenedor-carrucel {
  display: flex;
  justify-content: center;
}
.div-contenedor-carrucel .carousel {
  width: 50%;
}
.div-contenedor-carrucel .carousel .carousel-inner .card {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-contenedor-carrucel .carousel .carousel-inner .card .img-card-vertical {
  width: 60%;
}
.div-contenedor-carrucel .carousel .carousel-inner .card img {
  width: 100%;
}

.carousel-control-prev-icon {
  background-color: #000000;
}

.carousel-control-next-icon {
  background-color: #000000;
}

.carousel-indicators li {
  background-color: #000000;
}

/*Fin Carrucel*/
/*Imagenes Principales de Sagas*/
.saga-img-sagas {
  display: flex;
  justify-content: center;
}

/* Fin de Imagenes Principales de Sagas*/
/*Tablas*/
table {
  border: solid 3px #008cd0;
  width: 98%;
  border-collapse: collapse;
  margin: 3% 1% 0% 1%;
  background-color: #ffffffa8;
}

tr {
  border: solid 3px #008cd0;
}

th {
  border: solid 3px #008cd0;
  text-align: center;
  font-family: "DragonBallText";
  color: #008cd0;
  font-size: 2.7rem;
  letter-spacing: 7px;
  height: 125px;
}

td {
  border: solid 3px #008cd0;
  text-align: center;
  font-family: "DragonBallText";
  color: #008cd0;
  font-size: 2.7rem;
  letter-spacing: 7px;
  height: 125px;
}

/*Fin de Tablas*/
/*Todos los logos Dragon ball*/
.sagas-db section div {
  display: flex;
  justify-content: center;
}
.sagas-db section div .img-logo-db {
  width: 35%;
  margin: 10% 1%;
}

/*Fin de Todos los logos Dragon ball*/
/*Mediasquery Movile*/
@media only screen and (max-width: 767px) {
  .container-sagas {
    background-size: contain;
    background-position-y: center;
  }
}

@media only screen and (max-width: 767px) {
  .article-redireccion section {
    align-items: center;
    margin-top: 5%;
  }
  .article-redireccion section div a img {
    width: 200px;
    margin-left: 0%;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 767px) {
  .sagas-db section div {
    display: flex;
    justify-content: center;
  }
  .sagas-db section div .img-logo-db {
    width: 100%;
    margin: 10% 1%;
  }
}

@media only screen and (max-width: 767px) {
  .div-contenedor-carrucel {
    display: flex;
    justify-content: center;
  }
  .div-contenedor-carrucel .carousel {
    width: 100%;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card {
    width: 100%;
    height: 540px;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card .img-card-vertical {
    width: 100%;
    height: 275px;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .saga-img-sagas img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  table {
    border: solid 1px #008cd0;
    width: 98%;
    border-collapse: collapse;
    margin: 1% 0%;
    background-color: #ffffffa8;
  }
}

@media only screen and (max-width: 767px) {
  tr {
    border: solid 1px #008cd0;
  }
}

@media only screen and (max-width: 767px) {
  th {
    border: solid 1px #008cd0;
    text-align: center;
    font-family: "DragonBallText";
    color: #008cd0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    height: 125px;
  }
}

@media only screen and (max-width: 767px) {
  td {
    border: solid 1px #008cd0;
    text-align: center;
    font-family: "DragonBallText";
    color: #008cd0;
    font-size: 1rem;
    letter-spacing: 1px;
    height: 125px;
  }
}

@media only screen and (max-width: 767px) {
  .arrow-up section div {
    display: flex;
    justify-content: flex-end;
  }
  .arrow-up section div a {
    position: fixed;
    top: 85%;
    z-index: 10;
  }
  .arrow-up section div a img {
    width: 50px;
    background-color: #a23a1b8f;
    border-radius: 30%;
  }
}

/*Mediasquery Tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 6.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-sagas {
    background-size: contain;
    background-position-y: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .article-redireccion section {
    align-items: center;
    margin-top: 5%;
  }
  .article-redireccion section div a {
    display: flex;
    justify-content: center;
  }
  .article-redireccion section div a img {
    width: 400px;
    margin-left: 0%;
    margin-top: 15%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sagas-db section div {
    display: flex;
    justify-content: center;
  }
  .sagas-db section div .img-logo-db {
    width: 100%;
    margin: 10% 1%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .div-contenedor-carrucel {
    display: flex;
    justify-content: center;
  }
  .div-contenedor-carrucel .carousel {
    width: 100%;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card {
    width: 100%;
    height: 700px;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card .img-card-vertical {
    width: 100%;
    height: 530px;
  }
  .div-contenedor-carrucel .carousel .carousel-inner .carousel-item .card img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .saga-img-sagas img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  table {
    border: solid 1px #008cd0;
    width: 98%;
    border-collapse: collapse;
    margin: 1% 0%;
    background-color: #ffffffa8;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  tr {
    border: solid 1px #008cd0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  th {
    border: solid 1px #008cd0;
    text-align: center;
    font-family: "DragonBallText";
    color: #008cd0;
    font-size: 3rem;
    letter-spacing: 1px;
    height: 125px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  td {
    border: solid 1px #008cd0;
    text-align: center;
    font-family: "DragonBallText";
    color: #008cd0;
    font-size: 2.5rem;
    letter-spacing: 1px;
    height: 125px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .arrow-up section div {
    display: flex;
    justify-content: flex-end;
  }
  .arrow-up section div a {
    position: fixed;
    top: 85%;
    z-index: 10;
  }
  .arrow-up section div a img {
    width: 75px;
    background-color: #a23a1b8f;
    border-radius: 30%;
  }
}

/*Mediasquery Desktop*/
@media only screen and (min-width: 992px) and (max-width: 1875px) {
  .arrow-up section div {
    display: flex;
    justify-content: flex-end;
  }
  .arrow-up section div a {
    position: fixed;
    top: 85%;
    z-index: 10;
  }
  .arrow-up section div a img {
    width: 75px;
    background-color: #a23a1b8f;
    border-radius: 30%;
  }
}

/*Background de main*/
.container-musica {
  background-image: url(../assets/img/fondo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*Fin Background de main*/
/*redireccion a sub paginas*/
.img-musica-direccion section div a {
  display: flex;
  justify-content: center;
}
.img-musica-direccion section div a img {
  width: 50%;
  margin-top: 5%;
}

/*fin de redireccion a sub paginas*/
/*Img Opening y Ending*/
#opening {
  display: flex;
  justify-content: center;
}
#opening img {
  margin: 15% 0%;
}

#ending {
  display: flex;
  justify-content: center;
}
#ending img {
  margin: 15% 0%;
}

/*Fin Img Opening y Ending*/
/*P y Videos*/
.conteiner-musica section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner-musica section div p {
  text-align: center;
  margin-top: 15%;
}
.conteiner-musica section div iframe {
  margin-bottom: 5%;
  width: 600px;
  height: 365px;
}

/*Fin de P y Videos*/
/*MediasQueri tablet Grande*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .conteiner-musica section div iframe {
    margin-bottom: 5%;
    width: 500px;
    height: 270px;
  }
}

/*MediasQueri Movile*/
@media only screen and (max-width: 991px) {
  .conteiner-musica section div iframe {
    margin-bottom: 5%;
    width: 330px;
    height: 210px;
  }
}

@media only screen and (max-width: 991px) {
  .container-musica {
    background-size: contain;
  }
}

@media only screen and (max-width: 991px) {
  #opening section div {
    display: flex;
    justify-content: center;
  }
  #opening section div img {
    width: 95%;
  }
}

@media only screen and (max-width: 991px) {
  #ending section div {
    display: flex;
    justify-content: center;
  }
  #ending section div img {
    width: 95%;
  }
}

.container-videojuegos {
  background-image: url(../assets/img/fondo4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}
.container-videojuegos article section .div-top-videojuegos {
  margin: 5% 2% 0% 2%;
}
.container-videojuegos article section .div-top-videojuegos a {
  border-radius: 100%;
  color: #ff0800;
  background-color: #008cd061;
  font-size: 3rem;
  text-decoration: none;
  padding: 10% 10%;
}
.container-videojuegos .article-videojuegos-width section .col-lg-1 {
  width: auto;
}
.container-videojuegos #collapseFour .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSix .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseTwentyNine .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSixtyThree .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSeventy .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos #collapseSeventyFive .card-body {
  display: flex;
  align-items: center;
}
.container-videojuegos .Videojuegos-acordeon-img {
  width: 55%;
  height: 500px;
}
.container-videojuegos .card-body {
  display: flex;
  align-items: center;
}

/*MediasQuery Tablet Grande*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Videojuegos-acordeon-img {
    width: 35%;
    height: 500px;
  }
}

.main-personajes {
  background-image: url(../assets/img/fondo5.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: 85%;
}
.main-personajes button {
  width: 125px;
  margin-top: 5%;
}
.main-personajes .modal-body img {
  width: 100%;
  height: 700px;
}

.container-lista {
  border: solid 1px grey;
  width: 80%;
  margin-top: 1%;
}
.container-lista section {
  display: flex;
  flex-direction: column;
}
.container-lista section div {
  display: flex;
  max-width: 100%;
}
.container-lista section div a {
  font-size: 1.5rem;
  color: #008cd0;
  text-decoration: underline;
}
.container-lista section div a:hover {
  color: #03405f;
}

/*# sourceMappingURL=style.css.map */
