%h1{
            font-family: 'DragonBalltitle';
            font-size: 8rem;
            background: #ccc;
            background: linear-gradient(to right, #ff0800, #ff7b00, #ff7b00,#ff7b00,#ff0800);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
}
%h2{
    font-family: 'DragonBallH';
    font-size: 7rem;
    color: #ff0800;
}
%h3{
    font-family: 'DragonBallH';
    font-size: 6.7rem;
    color: #ff0800;
}

%p{
    font-family: 'DragonBallText';
    font-size: 3rem;
    color:#008cd0;
}
%pMusica{
    font-family: 'DragonBallText';
    font-size: 2.5rem;
    color: #008cd0;
}

