footer{
    background-color: #fff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    a{
        img{
            width: 50%;
        }

    }
}

/* MediasQuery Movile */ 
footer{
    @media only screen and (max-width:576px){
    a{
        img{
            width: 50%;
        }
    }
    }
}