header{
    padding: 0% !important;
    margin: 0% !important;
    section{
        padding: 0% !important;
        margin: 0% !important;
        div{
            padding: 0% !important;
            margin: 0% !important;
            .bg-dark{
                background-color: #80808000 !important;
                display: flex;
                flex-direction: column;
                margin: 0%;
            }
            nav{
                padding: 0% !important;
                margin: 0% !important;
                display: flex;
                justify-content: center;
                align-content: center;
                a{
                    .nav-img-logo{
                        width: 675px;
                        height: 279px;
                    }
                    font-weight: 900;
                    font-size: xxx-large;
                }
                .dropdown-menu{
                    background-color: #ffffff00;
                    border: none;
                }
                .dropdown-item{
                    background-color: #ffffff00 !important;
                    color: #008cd0;
                    font-weight: 600;
                    &:hover{
                        color: #ff0800;
                    }
                }
            }
        }
    }
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #008cd0;
    &:hover{
        color: #ff0800;
    }
}
.navbar-dark .navbar-nav .nav-link {
    color: #008cd0;
    &:hover{
        color: #ff0800;
    }
}

/*Media Query de Boostrap*/
.navbar-expand-lg {
    @media (min-width: 992px){
    flex-flow: wrap;
    
    }
}

/* MediasQuery Movile */ 
header{
    @media only screen and (max-width:768px){
        background-position-x: center;
        height:auto;
        section{
            div{
                .bg-dark{
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
                nav{
                    a{
                        .nav-img-logo{
                            width: 100%;
                            height: 100%;
                            padding-top: 25%;
                            
                        }
                        font-weight: 900;
                        font-size: 30px;
                        padding-left: 0% !important;
                    }
                    .dropdown-item{
                        color: #ff0800;
                        background-color: #ffff0300 !important;
                        
                    }
                }
            }
        }
    }
}
.navbar-dark .navbar-toggler {
    @media only screen and (max-width:768px){
        border: solid 4px #ff7b00;
        width: 80px;
        height: 80px;
        margin-right: 7%;
    }
}

/*MediasQuery Tablet*/
header{
    @media only screen and (min-width:769px) and (max-width:991px){
        background-position-x: center;
        height:auto;
        background-position-y: 12%;
        section{
            div{
                .bg-dark{
                    flex-direction: row;
                }
                nav{
                    a{
                        font-weight: 900;
                        font-size: 40px;
                        padding-left: 0% !important;
                    }
                    .dropdown-item{
                        color: #ff0800;
                    }
                }
            }
        }
    }
}
.navbar-dark .navbar-toggler {
    @media only screen and (min-width:769px) and (max-width:991px){
        border: solid 4px #ff7b00;
        width: 80px;
        height: 80px;
        margin-right: 7%;
    }
}

/* MediasQuery Mediano hasta Desktop*/    
header{
    @media only screen and (min-width:992px) and (max-width:1185px){
        background-position-x: center;
        height: 575px;
        section{
            div{
                .bg-dark{
                    background-color: #80808000 !important;
                }
                nav{
                    a{
                        font-weight: 900;
                        font-size: 40px;
                        padding-left: 0% !important;
                    }
                    .dropdown-item{
                        color: #ff0800;                        
                    }
                }
            }
        }
    }
}