.main-personajes{
    background-image: url(../assets/img/fondo5.webp);
    background-size: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: 85%;
    button{
        width: 125px;
        margin-top: 5%;
    }
    .modal-body{
        img{
            width: 70% !important;
            height: 500px;
        }
    }
    h2{
        @extend %h2Personajes;
    }
}
.carrucel-item-personajes{
    margin-left: 12%;
}
.container-lista{
    border: solid 1px #808080;
    width: 80%;
    margin-top: 1%;
    section{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            max-width: 100%;
            a{
                font-size: 1.5rem;
                color: #008cd0;
                text-decoration: underline;
                &:hover{
                    color: #03405f;
                }
            }

        }
    }
}
/*MediasQuery Tablet Grande*/
.main-personajes{
    @media only screen and (min-width:1100px) and (max-width:1525px){
    .div-boton-personajes{
        display: flex;
        align-items: center;
        height: 115px;
        margin: 1%;
        padding: 0% !important;

    }
    button{
        width: 110px;
        margin: 0%;
        font-size: 0.9rem;
    }
    .modal-body{
        img{
            width: 70% !important;
            height: 500px;
        }
    }
}
}
.carrucel-item-personajes{
    margin-left: 12%;
}

/* MediasQuery Tablet */
.main-personajes{
    @media only screen and (min-width:992px) and (max-width:1099px){
    .div-boton-personajes{
        display: flex;
        align-items: center;
        height: 115px;
        margin: 2%;
        padding: 0% !important;

    }
    button{
        width: 110px;
        margin: 0%;
        font-size: 0.9rem;
    }
    .modal-body{
        img{
            width: 70% !important;
            height: 500px;
        }
    }
}
}
/* MediasQuery Movile */
.main-personajes{
    @media only screen and (max-width:991px){
    .modal-body{
        img{
            width: 60% !important;
            height: 400px;
        }
    }
}
}
