.container-videojuegos{
     background-image: url(../assets/img/fondo4.webp);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position-x: center;
    article{
        section{
            .div-top-videojuegos{
                 margin: 5% 2% 0% 2%;
                a{
                 border-radius: 100%;
                 color: #ff0800;
                 background-color: #008cd061;
                 font-size: 3rem;
                 text-decoration: none;
                 padding: 10% 10%;
                }
            }
        }
    }
    .article-videojuegos-width{
        section{
            .col-lg-1{
                width: auto;
            }
        }
    }
    #collapseFour{
        .card-body{
        display: flex;
        align-items: center;
        }
    }
    #collapseSix{
        .card-body{
        display: flex;
        align-items: center;
        }
    }
    #collapseTwentyNine{
            .card-body{
            display: flex;
            align-items: center;
            }
    }
    #collapseSixtyThree{
            .card-body{
            display: flex;
            align-items: center;
            }
    }
    #collapseSeventy{
            .card-body{
            display: flex;
            align-items: center;
            }
    }
    #collapseSeventyFive{
            .card-body{
            display: flex;
            align-items: center;
            }
    }
    .Videojuegos-acordeon-img{
        width: 55%;
        height: 500px;
    }
    .card-body{
            display: flex;
            align-items: center;
    }
}
/*MediasQuery Tablet Grande*/
.Videojuegos-acordeon-img{
    @media only screen and (min-width:992px) and (max-width:1199px){
    width: 70% !important;
    height: 450px !important;
}
}
/*MediasQuery Tablet*/
.Videojuegos-acordeon-img{
    @media only screen and (min-width:768px)and (max-width:991px){
    width: 100% !important;
    height: 500px !important;
}
}
.container-videojuegos{
    @media only screen and (min-width:768px)and (max-width:991px){
        article{
            section{
                .div-top-videojuegos{
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
        .card-body{
                flex-wrap: wrap;
        }
}
}
/*MediasQuery Movile*/
.Videojuegos-acordeon-img{
    @media only screen and (max-width:767px){
    width: 100% !important;
    height: 250px !important;
}
}
.container-videojuegos{
    @media only screen and (max-width:767px){
    article{
        section{
            .div-top-videojuegos{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    .card-body{
        flex-wrap: wrap;
}
 }
}